.title {
  text-decoration: underline !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
  letter-spacing: 0.25rem !important;
  font-size: 1.5rem !important;
  font-family: 'Tahoma';
}

.text p {
  font-weight: 400;
  font-size: 0.9rem;
  font-family: 'Tahoma';
}

.travel p {
  /* font-weight: 800; */
  font-size: 1rem;
  font-family: 'Tahoma';
}
